@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400,700');

#portrait {
  height: 750px;
  background: #000;
  position: relative;
  padding: 4em 3em;
}
#portrait .bg-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fadeSlide 15s infinite ease-in-out;
}
#portrait .bg-main:nth-child(1) {
  background-image: url(../media/bgmain3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -80px;
  animation-delay: 10s;
}
#portrait .bg-main:nth-child(2) {
  background-image: url(../media/bgmain2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  animation-delay: 5s;
}
#portrait .bg-main:nth-child(3) {
  background-image: url(../media/bgmain1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  animation-delay: 0s;
}
@keyframes fadeSlide {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#portrait .bg-main::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(bottom right, rgba(0, 0, 0, 0.6), transparent , rgba(0, 0, 0, 0.5));
  background: -webkit-linear-gradient(left top, rgba(0, 0, 0, 0.6), transparent , rgba(0, 0, 0, 0.5));
  background: -moz-linear-gradient(bottom right, rgba(0, 0, 0, 0.5), transparent , rgba(0, 0, 0, 0.5));
  background: -o-linear-gradient(bottom right, rgba(0, 0, 0, 0.5), transparent , rgba(0, 0, 0, 0.5));
  content: ' ';
}
#portrait .advice {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
}
#portrait .advice h1 {
  font-weight: 700;
}
#portrait .advice p {
  font-weight: 300;
}
#featuring {
  background: #4eb648;
  padding: 2em;
}
#featuring .feat {
  text-align: center;
  padding: 0em .7em;
}
#featuring .feat:not(:first-child) {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
#featuring .feat img {
  height: 60px;
  width: auto;
  margin-bottom: .5em;
}
#featuring .feat h4 {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  color: #003459;
}
#featuring .feat p {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
  color: #fff;
}
#helping {
  background: #f2f3f5;
  padding: 2em;
}
#helping h1 {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  color: #003459;
}
#helping h1 + h5 {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
}
#helping .arrow {
  color: #4eb648;
  display: flex;
  justify-content: center;
}
#helping .arrow i {
  align-self: center;
  font-size: 2.5em;
}
#helping .profiles {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
#helping .profiles .profile-item {
  display: inline-block;
  margin: 0em 1em;
  padding: .7em;
  border-radius: 8px;
  cursor: pointer;
}
#helping .profiles .profile-item img {
  height: 55px;
  width: auto;
  margin-bottom: .5em;
}
#helping .profiles .profile-item h6 {
  color: #003459;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
}
#helping .profiles .profile-item:hover, #helping .profiles .profile-item.active {
  background: #fff;
}
#dinamic-form {
  padding: 2em;
  background: #003459;
  height: 220px;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
#dinamic-form .content-dinamic-form {
  padding: 1em;
  position: relative;
}
/*#dinamic-form .content-dinamic-form::before {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 7px;
  content: ' ';
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
  background: #f2f3f5;
}
#dinamic-form .content-dinamic-form::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 25%;
  height: 7px;
  content: ' ';
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
  background: #4eb648;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
#dinamic-form .content-dinamic-form.percent-2::after {
  width: 50%;
}
#dinamic-form .content-dinamic-form.percent-3::after {
  width: 75%;
}
#dinamic-form .content-dinamic-form.percent-4::after {
  width: 100%;
}*/
#dinamic-form .content-dinamic-form label {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
#dinamic-form .content-dinamic-form select {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
  color: #646464;
  border: 0px;
}
#dinamic-form .arrow {
  background: #4eb648;
  padding: .7em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  height: 80px;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
#dinamic-form .arrow i {
  font-size: 1.4em;
  margin-left: .5em;
}
#dinamic-form .text {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2em;
}
#dinamic-form .text  i {
  margin-left: .5em;
}
#solutions {
  padding: 2em 4em;
  background: #f2f3f5;
}
#solutions .title-content {
  padding: 1em;
  margin-bottom: 1em;
}
#solutions .title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  color: #4eb648;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#solutions .brand {
  height: 100px;
  margin-bottom: 1em;
}
#solutions .title2 {
  color: #4eb648;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 3.5em;
  margin-bottom: .9em;
  padding-bottom: .07em;
  text-transform: capitalize;
  position: relative;
}
#solutions .title2::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 40%;
  height: 3px;
  content: ' ';
  background: #4eb648;
  z-index: 0;
}
#solutions .title2::before {
  position: absolute;
  bottom: -17px;
  left: 0;
  width: 30px;
  height: 25px;
  content: '\f10a';
  font-size: 28px;
  text-align: left;
  font-family: 'FontAwesome';
  font-weight: 100;
  background: #f2f3f5;
  z-index: 1;
}
#solutions .title2.integracion::before {
  content: '\f1c0';
}
#solutions .text {
  color: #808285;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
}
#solutions .subtitle {
  color: #4eb648;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}
#solutions .subtitle i {
  margin-right: .3em;
}
#solutions .steps {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  width: 100%;
}
#solutions .steps .step {
  width: 200px;
  padding: .5em;
  text-align: center;
}
#solutions #integracion .steps .step {
  width: 250px;
}
#solutions #integracion .list-inline {
  padding-left: 1.6em;
}
#solutions .steps .step img {
  height: 55px;
  width: auto;
  margin-bottom: .5em;
}
#solutions .steps .step h5 {
  color: #4eb648;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  padding: .3em;
  margin-bottom: .8em;
  position: relative;
}
#solutions .steps .step h5::after {
  content: ' ';
  width: 60%;
  height: 2px;
  background: #4eb648;
  position: absolute;
  bottom: -4px;
  left: 20%;
}
#solutions .steps .step p {
  color: #808285;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
}
.text-muted {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: .8em;
  font-weight: 300;
}
#solutions .benefits {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #808285;
  margin-top: 1.5em;
}
#solutions .benefits li {
  list-style: none;
  margin: .5em;
  position: relative;
}
#solutions .benefits li::before {
  content: ' ';
  height: 25px;
  width: 25px;
  background-image: url(../media/listcheck.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: -40px;
  top: 0;
}
#solutions .list-inline .list-inline-item {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  color: #808285;
  margin: .2em .5em;
}
#integracion img.howork {
  max-height: 350px;
  width: auto;
}
#products .callnext h4 {
  display: inline-block;
  margin: auto;
  background: #003459;
  color: #fff;
  padding: .5em 1.5em;
  font-family: 'Fira Sans Condensed', sans-serif;
}
#alternative {
  background: #fafafa;
  border-radius: 8px;
  margin-top: 2em;
  color: #808285;
}
#alternative .calldown {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
#alternative .calldown h4 {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  color: #424242;
}
#alternative .img {
  padding: 0;
}
#alternative .desc {
  padding: 1em;
}
#alternative .desc h2 {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 2em;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  color: #4eb648;
  margin-bottom: .2em;
}
#alternative .desc p {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 100;
  font-size: .9em;
  margin: 0;
  margin-bottom: .5em;
}
#alternative .desc a {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  background: #4eb648;
  padding: .3em 1em;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

#products {
  padding: 2em 0em;
}
#products .title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #003459;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
#products .product-item {
  text-align: center;
  padding: 2em 1em;
}
#products .product-item img {
  display: block;
  margin: auto;
  height: 70px;
  width: auto;
  margin-bottom: .5em;
}
#products .product-item h4 {
  display: block;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
}
#products .product-item p {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
}

#calldown {
  padding: 2em;
  background: #fff;
}
#calldown h1 {
  color: #4eb648;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5em;
}
#calldown h1 img {
 height: 80px;
 width: auto;
}

#contact {
  padding:3em 2em;
  background: #4eb648;
}
#contact .caption {
  padding: 1em;
  text-align: center;
}
#contact .caption h1 {
  font-family: 'Fira Sans Condensed',sans-serif;
  font-weight: 700;
  color: #fff;
}
#contact .caption p {
  color: #003459;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.3em;
}
#contact form label {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  color: #fff;
}
#contact form input.form-control {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
  border-radius: 0px;
  background: #f2f3f5;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0) !important;
}
#contact form input.form-control:focus ,#contact form input.form-control:active {
  background: #cdcdcd;
  border: 1px solid #fff;
}
#contact form input::-webkit-input-placeholder {
  color: #bdbdbd;
  font-size: .9em;
}
form .btn-primary {
  border-radius: 0px;
  background: #003459;
  border: 0px solid #003459 !important;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0) !important;
  cursor: pointer;
  padding: .5em 2em;
}
form .btn-primary:hover {
  background: #003459;
}
#footer {
  padding: 2em;
  background: #f2f3f5;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #808285;
  border-top: 3px solid #fff;
}
#footer a, #footer a:hover, #footer a:focus, #footer a:active {
  color: #4eb648;
  font-weight: 400;
}
#footer .peru-brand {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
footer {
  background: #003459;
  padding: 2em;
  border-top: 4px solid #fff;
}
footer h6 {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  margin: 0;
  font-weight: 300;
}
footer h6 a, footer h6 a:hover, footer h6 a:active, footer h6 a:focus {
  color: orange;
}


#integracion {
  display: none;
  opacity: 0;
  transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
}
#online {
  display: none;
  opacity: 0;
  transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
}
#input-dinamic {
  display: none;
}
#input-1 {
  display: none;
}
#input-2 {
  display: none;
}
#input-3 {
  display: none;
}
.header-thanks {
  position: relative;
}
.header-thanks::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 6px;
  background: #4eb648;
}
#thanks {
  padding: 2em;
  font-family: 'Fira Sans Condensed', sans-serif;
  height: 719px;
}
#thanks h1 {
  font-weight: 700;
}
#thanks p {
  font-size: 1.4em;
}
#thanks a, #thanks a:focus, #thanks a:hover, #thanks a:active {
  color: #4eb648;
}
